
@{
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<!--panel-start-->
<div class="panel panel-default">

    <!--panel-heading-start-->
    <div class="panel-heading">
        <h3 class="panel-title">Manager Home</h3>
    </div>
    <!--panel-heading-end-->
    <!--panel-body-start-->
    <div class="panel-body">
        <p>Select tasks from side menu</p>
    </div>
</div>
<!--panel-end-->