
@{
    ViewBag.Title = "ManagerValueInTransit";
    Layout = "~/Views/Manager/_ManagerLayout.cshtml";
}

<div class="panel-heading">
    <h3 class="panel-title">Value in Transition</h3>
</div>
<div class="panel-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Packages</th>
                <th>Total Value (AUD)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Headquarter</td>
                <td>UTS Centre</td>
                <td>100,000</td>
                <td>200,000,000</td>
            </tr>
        </tbody>
    </table>

    <p class="text-right"><strong>Grand Total:</strong> $200,000,000</p>

    <a class="btn btn-default btn-float-right" href="manager.html">Back</a>

</div>

