@using ENETCare.Business
@model ICollection<MedicationType>
@{
    ViewBag.Title = "AgentDoctorRegisterPackages";
    Layout = "~/Views/AgentDoctorCommonFeatures/MasterPage.cshtml";
}

<div class="panel panel-default">
    <!--panel-heading-start-->
    <div class="panel-heading">
        <h3 class="panel-title">Register Medication Package</h3>
    </div>
    <!--panel-heading-end-->
@using (Html.BeginForm())
{
    <!--panel-body-start-->
    <div class="panel-body">
        <div class="form-horizontal col-sm-10 col-sm-offset-1">

            @*<div id="AgentDoctorRegisterPackageAlertWindowDiv" visible="false" class="alert alert-success" data-dismiss="alert">
                    <label id="AgentDoctorRegisterPackageAlertWindowContentLabel"></label>
                </div>*@

            <div class="form-group">
                <label id="AgentDoctorPackageRegisterPackageTypeDropDwonListLabel" class="col-xs-3">Medication Type: </label>

                <div class="col-xs-9">
                    <select id="AgentDoctorPackageRegisterPackageTypeDropDwonList" name="MedicationType">
                        <option value="" disabled selected>Please select</option>
                        @foreach (var item in Model)
                        {

                            <option value="@item.ID">
                                @item.Name
                            </option>
                        }
                    </select>
                </div>
            </div>

            <br />

            <div class="form-group">

                <label id="AgentDoctorRegisterFormExpireDateLabel" class="col-xs-3">Expiration Date: </label>
                <div class="col-xs-9">
                    <input id="AgentDoctorRegisterFormExpireDateInput" class="form-control" readonly="true" type="date" />
                </div>
            </div>
            <p>
                &nbsp;
            </p>
            <p>
                <label id="AgentDoctorRegisterMessage">Title: </label>
                <img src="" alt="waiting img...">
            </p>
            <a class="btn btn-danger btn-float-right btn-margin-left" type="a" href="@Url.Action("AgentDoctorHomePackages", "AgentDoctorCommonFeatures")">Cancel</a>
            <a href="#" class="btn btn-success btn-float-right" id="AgentDoctorRegisterButton">Register</a>
        </div>
    </div>
    <!--panel-body-end-->
    <input type="submit" value="Register Test"/>
}
</div>