@using ENETCare.Business
@{
    Layout = "~/Views/AgentDoctorCommonFeatures/MasterPage.cshtml";
}
@model ICollection<ENETCare.Business.MedicationType>

<!--panel-start-->
<div class="panel panel-default">

    <!--panel-heading-start-->
    <div class="panel-heading">
        <h3 class="panel-title">Medication Type</h3>
    </div>
    <!--panel-heading-end-->
    <!--panel-body-start-->
    <div class="panel-body">

        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <td>Medication Type</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var medicationType in Model)
                {
                    <tr>

                        <td>
                            @Html.ActionLink(medicationType.Name, "AgentDoctorAuditPackageScan", new { medicationTypeId = medicationType.ID, medicationTypeName = medicationType.Name })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-danger btn-float-right btn-margin-left" type="a" href="@Url.Action("AgentDoctorHomePackages", "AgentDoctorCommonFeatures")">Back to Home</a>

    </div>
</div>
<!--panel-end-->