@using ENETCare.Business
@model ICollection<DistributionCentre>
@{
    ViewBag.Title = "AgentDoctorSendPackage";
    Layout = "~/Views/AgentDoctorCommonFeatures/MasterPage.cshtml";
}

<!--panel-start-->
<div class="panel panel-default">
    <!--panel-heading-start-->
    <div class="panel-heading">
        <h3 class="panel-title">Send Medication Package</h3>
    </div>
    <!--panel-heading-end-->
    <!--panel-body-start-->
@using (Html.BeginForm())
{
    <div class="panel-body">
        <div class="form-horizontal col-sm-10 col-sm-offset-1">

            <!-- <div id="AgentDoctorSendPackageAlertWindowDiv" visible="false" class="alert alert-success" data-dismiss="alert">
                <label id="AgentDoctorSendPackageAlertWindowContentLabel"></label>
            </div> -->

            <div class="form-group">

                <label id="AgentDoctorSendingDropDownListLabel" class="col-xs-3">Destination: </label>
                <div class="col-xs-9">
                    <select id="AgentDoctorSendingDropDownList" class="form-control" name="sendToCenterId">
                        <option value="" disabled selected>Please select</option>
                        @foreach (var item in Model)
                        {
                            <option value="@item.ID">
                                @item.Name
                            </option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label id="AgentDoctorSendPackageTypebarcodeLabel" class="col-xs-3">Barcode: </label>
                <div class="col-xs-9">
                    @Html.TextBox("AgentDoctorSendPackageTypebarcodeInput", null, new { @class = "form-control", @type = "text" })
                </div>
            </div>

            <!-- the following link should be optimised -->
            <a class="btn btn-danger btn-float-right btn-margin-left" type="a" href="@Url.Action("AgentDoctorHomePackages", "AgentDoctorCommonFeatures")">Cancel</a>
            <a href="#" class="btn btn-success btn-float-right" id="AgentDoctorSendPackageTypeButton">Send</a>
        </div>
    </div>
    <!--panel-body-end-->
    <input type="submit" value="Send" />
}
</div>
<!--panel-end-->